@import "~bootstrap/scss/bootstrap";

$white: #ffffff;
$black: #1b1c20;
$blackOpacity: #1b1c206c;
$lightgrey: #999999;
$darkBlue: #222429;
$lighterDarkBlue: #464a53;
$yellow: #f5a921;
$darkyellow: #ba7701;
$lightBlue: #43c8dd;
$darklightBlue: #058499;
$purple: #a362ea;
$darkpurple: #7e2be0;
$red: #f55c33;
$darkred: #D6360A;

//Bootstrap

$primary: #222429;
$component-active-color: #222429;
$component-active-bg: $lightgrey;
