@import './../../styles/global-styles.scss';

.card__container{
    @include display(column, flex-start, center);
    @include text(20px, $darkBlue, 600);

    .card-name{
        @include display(row, center, center);
        height: 100px;
        width: 100%;
        margin-bottom: 20px;

        p {
            font-size: 30px;
        }
        form {
            @include display(row, center, center);

            input {
                all: unset;
                font-size: 30px;
                text-align: right;
                width: 100px;
                &::placeholder{
                color: $darkBlue;
                }
            }
        }

        .card-name--edit {
            all: unset;

            .far {
                font-size: 15px;
                margin-left: 20px;
            }
        }
    }

    .task__container {
        width: 80%;
        height: 80px;
        padding: 10px;
        margin: 5px 0;
        @include display(column, space-between, flex-start);
        border: 1px solid $lightgrey;
        border-radius: 5px;

        p{
            font-size: 20px;
        }

        div {
            width: 100%;
            @include display(row, space-between, center);
            p {
                @include text(18px, $darkBlue, 400);
                font-style: italic;
            }
        }
    }
}

.blue { 
    background-color: $lightBlue;
    color: $darklightBlue
};
.yellow { 
    @include card-background($yellow, $darkyellow);
    color: $darkyellow
};
.purple { 
    @include card-background($purple, $darkpurple);
    color: $darkpurple
};
.red { @include card-background($red, $darkred);
    color: $darkred
};