@import './../../styles/global-styles.scss';
@import "https://cdn.syncfusion.com/ej2/material.css";

.new-task__container {
    width: 100%;
    padding: 30px;
    @include text(20px, $black, 400);
    @include display(column, flex-start, center);

    
    .new-task__title{
        width: 100%;
        @include display(column, center, flex-start);

        .go-back{
            all: unset;
            align-self: 'flex-start';
            @include text(30px, $darkBlue, 300);
        }

        h2{
            @include text(40px, $darkBlue, 500);
        }

        .task-name {
            margin-top: 20px;
            input {
                width: 80%;
                all: unset;
                height: 50px;
                @include text(25px, $darkBlue, 400);
                border-bottom: 1px solid $lightgrey;
            }

            textarea{
                all: unset;
                width: 80%;
                margin-top: 20px;
                padding: 10px;
                @include text(20px, $darkBlue, 400);
                border-radius: 10px;
                border: 1px solid $lightgrey;
            }
        }
    }

}