@import './../../styles/global-styles.scss';


.todo{
    background-color: $darkBlue;
    height: 100vh;

    header{
        height: 50px;
        padding: 0 20px;
        @include display(row, space-between, center);
        box-shadow: 0px 2px $black;
        
        h1 {
            margin: 0;
            @include text(20px, $white, 400);
        }

        .card--create{
            all: unset;
            cursor: pointer;
            padding: 5px 10px;
            text-align: center;
            width: 20%;
            color: $white;
            font-size: 14px;
            border-radius: 5px;
            background-color: $lighterDarkBlue;
            font-weight: 700;
            box-shadow: 0 2px 5px rgba(143, 143, 143, 0.25) inset;
        
            &:hover{
                box-shadow: 0 2px 6px rgba(17, 17, 17, 0.25) inset;
            }
        }

        .profile__container{
            @include display(row, flex-end, center);

            p{
                @include text(16px, $white, 400);
                margin-right: 10px;
                margin-bottom: 0;

            }

            .profile-picture{
                background-color: $red;
                height: 30px;
                width: 30px;
                border-radius: 25px;
            }
        }
    }
    
    .my-lists__container {
        font-family: $text-font;
        
        .list__container{
            margin: 10px;
            border-radius: 5px;
            position: relative;
            
            .card__info{
                width: 100%;
                box-shadow: 0px 1px 5px $blackOpacity;
                
                .card__title{
                    @include display(row, center, center);

                    h3 {
                        font-size: 20px;
                        text-align: center;
                        margin: 5px 0;
                    }

                    .card__menu{
                        all: unset;
                        cursor: pointer;
                        position: absolute;
                        right: 20px;
                        top: 8px;

                        &:hover{
                            color: $lighterDarkBlue;
                        }
                    }
                    
                    .card__menu:hover + .drop-down__menu{
                        transform: scaleY(1);
                    }

                    .drop-down__menu{
                        position: absolute;
                        z-index: 1;
                        top: 28px;
                        right: 20px;
                        width: 180px;
                        border-radius: 5px;
                        border: 2px solid $black;
                        padding: 8px;
                        background-color: $darkBlue;
                        @include display(column, flex-start, flex-start);
                        transform: scaleY(0);
                        transform-origin: top;
                        transition: 0.3s;
                        
                        &:hover{
                            transform: scale(1);
                        }

                        .color__menu{
                            @include display(column, flex-start, flex-start);

                            p{
                                font-size: 14px;
                                margin-bottom: 5px;
                            }

                            .color--change{
                                all: unset;
                                cursor: pointer;
                                background-color: black;
                                width: 30px;
                                height: 20px;
                                margin-right: 5px;
                                border-radius: 5px;
                                border: 2px solid $darkBlue;

                                &.blue{background-color: $lightBlue}
                                &.yellow{background-color: $yellow}
                                &.red{background-color: $red}
                                &.purple{background-color: $purple}

                                &:hover{
                                    border: 2px solid $lightgrey;
                                }
                            }
                        }

                        .card-name--change{
                            margin-top: 5px;

                            label{
                                font-size: 14px;
                                margin: 0;
                            }

                            div{
                                width: 100%;
                                @include displayAllcenter;

                                input {
                                    all: unset;
                                    width: 110px;
                                    border-radius: 5px 0 0 5px;
                                    background-color: $black;
                                    color: $lighterDarkBlue;
                                    font-size: 14px;
                                    padding-left: 10px;
                                    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset
                                }
            
                                button {
                                    @include button();
                                    border-radius: 0 5px 5px 0;
                                }
                            }
                        }

                        .card--delete{
                            @include button();
                            width: 87%;
                            border-radius: 5px;
                            margin-top: 10px;
                        }
                    }
                }

                .tasks__progress{

                    @include display(row, space-between, center);
                    margin: 0 20px 0 20px;

                    label{
                        margin-bottom: 5px;
                        font-weight: 500;
                    }

                    progress{
                        &[value]{
                            -webkit-appearance: none;
                            appearance: none;
                            width: 220px;
                            height: 10px;
                        }
                        
                        &[value]::-webkit-progress-bar{
                            background-color: $lighterDarkBlue;
                            border-radius: 2px;
                            @include shadowInset();
                        }
                        
                        &[value]::-webkit-progress-value{
                            border-radius: 2px;
                            background: $darkBlue;
                            
                        }  
                    }

                    p{
                        margin-bottom: 5px;
                    }
                }
            }

            .list__content{
                background-color: $darkBlue;
                margin: 5px;
                padding: 10px;

                ul{
                    
                    li{
                        @include display(row, space-between, center);
                        margin-bottom: 5px;

                        div {
                            @include display(row, flex-start, center);
                            
                            .check__icon{
                                width: 15px;
                                height: 15px;
                                @include displayAllcenter;
                                border: 1px solid $lightgrey;

                                i{
                                    font-size: 12px;
                                }

                                &:hover{
                                    border: 1px solid $lighterDarkBlue;
                                }
                            }

                            .task{
                                margin-left: 5px;
                                margin-bottom: 0;
                                max-width: 250px;
                                @include text(15px, $lightgrey, 400);
                            }

                            .done{
                                text-decoration: line-through;
                                color: $lighterDarkBlue;
                            }
                        }

                        button {
                            all: unset;
                            cursor: pointer;

                            &:hover{
                                color: $lighterDarkBlue;
                            }
                        }

                    }
                }

                .new-task__container{
                    width: 100%;
                    margin: 0;
                    margin-top: 40px;
                    padding: 0; 
                    @include display(row,center, center);
                    font-size: 16px;
                    
                    input {
                        all: unset;
                        width: 80%;
                        border-radius: 5px 0 0 5px;
                        background-color: $black;
                        color: $lighterDarkBlue;
                        padding-left: 10px;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset
                    }

                    button {
                        @include button();
                        border-radius: 0 5px 5px 0;
                        height: 24px;
                    }
                }
            }
        }
    }
}

@media (max-width: 599px){
    .my-lists__container {
        @include display(column, flex-start, center);
        margin: 20px;
        
        .list__container{
            width: 90%;
        }
    }
}

@media ( min-width: 600px){

    .my-lists__container {
        @include display(column, flex-start, center);
        flex-wrap: wrap;
        margin: 20px;
        max-height: 1000px;
        
        .list__container{
            width: 350px;
        }
    }
}