@import './../../styles/global-styles.scss';


.todo{
    background-color: $darkBlue;
    height: 100vh;

    header{
        height: 50px;
        padding: 0 20px;
        @include display(row, space-between, center);
        box-shadow: 0px 2px $black;
        
        h1 {
            margin: 0;
            @include text(20px, $white, 400);
        }

        .profile__container{
            @include display(row, flex-end, center);

            p{
                @include text(16px, $white, 400);
                margin-right: 10px;
                margin-bottom: 0;

            }

            .profile-picture{
                background-color: $red;
                height: 30px;
                width: 30px;
                border-radius: 25px;
            }
        }
    }
    
    .my-lists__container {
        font-family: $text-font;

        .list__container{
            margin: 10px;
            border-radius: 5px;
            
            .list__title{
                width: 100%;
                box-shadow: 0px 1px 5px $blackOpacity;
    
                h3 {
                    font-size: 20px;
                    text-align: center;
                    margin: 5px 0;
                }
            }

            .list__content{
                background-color: $darkBlue;
                margin: 5px;
                padding: 10px;

                ul{
                    
                    li{
                        @include display(row, space-between, center);
                        margin-bottom: 5px;

                        div {
                            @include display(row, flex-start, center);
    
                            label{
                                cursor: pointer;
                                margin-left: 5px;
                                margin-bottom: 0;
                                @include text(15px, $lightgrey, 400)
                            }
                        }

                        button {
                            all: unset;
                            cursor: pointer;
                        }

                    }
                }

                .new-task__container{
                    width: 100%;
                    margin: 0;
                    padding: 0; 
                    @include display(row,center, center);
                    font-size: 16px;
                    
                    input {
                        all: unset;
                        width: 80%;
                        border-radius: 5px 0 0 5px;
                        background-color: $black;
                        color: $lighterDarkBlue;
                        padding-left: 10px;
                    }

                    button {
                        all: unset;
                        width: 20%;
                        text-align: center;
                        border-radius: 0 5px 5px 0;
                        background-color: $lighterDarkBlue;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media (max-width: 599px){
    .my-lists__container {
        @include display(column, flex-start, center);
        margin: 20px;
        
        .list__container{
            width: 90%;
        }
    }
}

@media ( min-width: 600px){

    .my-lists__container {
        @include display(row, flex-start, flex-start);
        flex-wrap: wrap;
        margin: 20px;
        
        .list__container{
            width: 350px;
        }
    }
}