@import './../../styles/global-styles.scss';


.container__cards {
    padding: 0 30px;
    margin-top: 50px;
    @include display(row, center, flex-start);
    flex-wrap: wrap;
    @include text(20px, $white, 600);

    .card-item {
        all: unset;
        text-decoration: none;
        color: inherit;
        user-select: none;
        cursor: pointer;
        height: 200px;
        width: 45%;
        min-width: 200px;
        margin: 8px;
        border-radius: 25px;
        @include displayAllcenter;

        &:hover {
            transform: translate(2px,2px);
            font-size: 22px;
        }
    }

    .blue { 
        @include card-background($lightBlue, $darklightBlue);
        color: $darklightBlue
    };
    .yellow { 
        @include card-background($yellow, $darkyellow);
        color: $darkyellow
    };
    .purple { 
        @include card-background($purple, $darkpurple);
        color: $darkpurple
    };
    .red { @include card-background($red, $darkred);
        color: $darkred
    };
    .new { 
        color: $lightgrey;
        border: 2px dashed $lightgrey;
        box-shadow: 5px 5px $lightgrey;
    }
}