@import './../../styles/global-styles.scss';

.container__nav {
    height: 80px;
    width: 100%;
    @include displayAllcenter;
    background-color: $darkBlue;
    @include text(30px, $white, 600);
}